<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.com.ciadeideias.smartenem">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:uiOptions="splitActionBarWhenNarrow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MetasActivity"
            android:label="@string/title_activity_metas"
            android:parentActivityName=".ListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListActivity"
            android:label="@string/title_activity_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListCalendActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SplashCalendActivity"
            android:label="@string/title_activity_list"
            android:theme="@style/AppTheme.NoActionBar"
            android:uiOptions="splitActionBarWhenNarrow" />
        <activity
            android:name=".DesempenhoActivity"
            android:label="@string/tit_graficos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EstuDiarioActivity"
            android:label="@string/estudo_activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PlanEstuActivity"
            android:label="@string/titulo_planestud"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ConfigPlanestudActivity"
            android:label="@string/titulo_planestud"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".configplanoestudo.ConfigPlanestudSegActivity"
            android:label="@string/titulo_planestud"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".configplanoestudo.ConfigPlanestudTerActivity"
            android:label="@string/titulo_planestud"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".configplanoestudo.ConfigPlanestudQuaActivity"
            android:label="@string/titulo_planestud"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".configplanoestudo.ConfigPlanestudQuiActivity"
            android:label="@string/titulo_planestud"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".configplanoestudo.ConfigPlanestudSexActivity"
            android:label="@string/titulo_planestud"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".configplanoestudo.ConfigPlanestudSabActivity"
            android:label="@string/titulo_planestud"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".configplanoestudo.ConfigPlanestudDomActivity"
            android:label="@string/titulo_planestud"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".AboutActivity"
            android:label="@string/about_frag_title"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".PremiumActivity"
            android:label="@string/premium_title"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".EstudoListaActivity"
            android:label="@string/estudo_title"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".DicasListaActivity"
            android:label="@string/tit_dicas"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".RedacaoActivity"
            android:label="@string/redacao"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".redacao.TecnicasActivity"
            android:label="@string/redacao"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".redacao.TipoTextosActivity"
            android:label="@string/titulo_tipotxt"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".redacao.TipoEnemActivity"
            android:label="@string/titulo_tipoenem"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".redacao.CoerenciaTextualActivity"
            android:label="@string/titulo_coerencia"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".redacao.CoesaoTextualActivity"
            android:label="@string/titulo_coesao"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".redacao.InterpretacaoTextoActivity"
            android:label="@string/titulo_interp"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".redacao.RoteiroRedacaoActivity"
            android:label="@string/titulo_boa"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".redacao.DicasRedacaoActivity"
            android:label="@string/titulo_dicas_red"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".redacao.ErrosComunsActivity"
            android:label="@string/titulo_errosred"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".redacao.PraticaRedacaoActivity"
            android:label="@string/titulo_praticared"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".redacao.ExpoRedacaoActivity"
            android:label="@string/exporeda_activity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".DisciplinasCardActivity"
            android:label="@string/formulas"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".FormulasCardActivity"
            android:label="@string/formulas"
            android:theme="@style/AppTheme.NoActionBar"/>

    </application>

</manifest>